body{
  background-color: black;
  font-family: "Playfair Display", serif;
  color: #fff;
  margin: 0;
  padding: o;
}
.first-title {
  color: #fff;
  font-family: "Playfair Display", serif;
  text-align: center;
}
.second-title{
   box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.5);
  background-color: black;
  border-radius: 50px;
  text-align: center;
  border: solid 12px;
  animation: blink 1s infinite;
  border-color: red;
  padding: 20px;
  font-size: larger;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  color: #fff;
}
@keyframes blink{
  0%{background-color: rgb(0, 0, 0);}
  50%{background-color:transparent;}
  100%{background-color: rgb(35, 1, 1);}
}
.video-box{
  width: 100%;
  padding: 0 20px;
  background: radial-gradient( rgb(94, 1, 1), rgb(0, 0, 0));
  box-sizing: border-box;
}
.video{
  border-radius: 50px;
  border: 10px solid rgb(231, 0, 0);
  margin-top: 20px;
  width: 100%;
  height: 550px;
}
.container{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
button:hover{
  box-shadow:5px 5px 8px rgba(255, 255, 255, 0.5) ;
  background-color: rgb(245, 50, 50);
  transform: scale(1.03);

}
.main{
  border: 12px red solid;
  box-shadow: 5px 5px 7px rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: 40px;
  padding: 30px;
  border-radius: 50px;
}
.first-button{
   display: inline-block;
  background-color: red;
  box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.3);
  color: #fff;
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 50px;
  margin-right: 50px;
  cursor: pointer;
}
.first-button{
  margin-left: 50px;
}
