.page{
    color: #f0ebeb;
    background-image: url(../img/flower.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 3px 3px 5px whitesmoke;
    text-transform: capitalize;
    letter-spacing: 3px;
    border: 20px;
    width: 252px;
    height: 230px;
   margin: 10px;
   padding: 10px;
   
}
#place{
    color: #f0ebeb;
    background-color: rgb(22, 121, 243); 
    text-transform: capitalize;
    text-shadow: 3px 3px 5px  rgb(219, 210, 210, 0.5)
}
.Home{
    border: 6px solid;
    border-color: rgb(0, 123, 255);
    font-family:serif;
    margin: 13px;
    padding: 15px;
    text-transform: capitalize;
    letter-spacing: normal;
    background-color: rgb(245, 245, 225);
    border-radius: 5px;
}    
.About-me{
    color: rgb(0, 132, 255);
    text-shadow: 3px 3px 5px  rgba(0, 119, 255,0.5);
}
.about{
    border: 6px solid;
    border-color: #f9e79f;
    font-family: serif;
    margin: 16px;
    padding: 19px;
    text-transform: capitalize;
    letter-spacing: normal;
    background-color: #345270;
    border-radius: 5px;
    text-shadow: 3px 3px 5px #938859;
    color: #f9e79f
}
#nav{
    color: #9e810e;
}
#name:hover{ 
    color: #0be86e;
    
}
#know{
    color: #f9e79f;
}
#me{
    color: #f9e79f;
}
#contact{
    color: #f9e79f;
}
#gallery{
    color: #f9e79f;
}
textarea{
    width: 220px;
    height: 30px;
    resize: both;
}
.contact-body{
    font-family: sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0px;
    padding: 0px;
}
.main-contact{
   max-width: 500px;
   margin: 50px auto;
   background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}
.h1{
    text-align: center;
    color: #444;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label{
    font-family: bold;
}
input, textarea{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
.for{
   font-family: serif;
 display: flex;
  margin: 19px auto ;
}
button{
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.en{

    text-align: center;
    margin-top: 20px;
    padding: 20px;font-size: larger;
}
.gallery{
    font-family: arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0px;
    padding: 30px;
}
.heading{
    text-align: center;
    margin-bottom: 30px;
}
.part{
    display: grid;
    grid-template-columns: repeat(auto-file);
    gap:20px ;
    max-width: 1000px;
    margin: 0px;
}
figure{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px  8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}
figure:hover{
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
img{
    max-width: 100%;
    border-radius: 6px;
    display:block;
    margin: 0 auto 10px;
}
figcaption{
    font-size: 0.9rem;
    color: #666;

}
.end{
    text-align: center;
    margin: 40px;
    font-size: 0.8rem;
    color: #999;
}
