body{
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
*{
    margin: 0;
    scrollbar-width: none;
}
nav{
    background-color: #2f2f2f;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 50px;
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 12px;
   margin: 0;
   padding: 0;
}
li{
    position: relative;
    list-style: none;
    font-size: bold;
    padding: 15px 10px ;
}
li::after, li::before{
    content:"";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.4s ease-in-out;
}
li::after{
    top: 8px;
    right: 0;
    transform-origin: right;
}
li::before{
    left: 0;
    bottom: 8px;
    transform-origin: left;
}
li:hover:after,
li:hover:before{
    width: 100%;
}
nav ul li a{
    text-decoration: none;
    text-transform: lowercase;
    color: #fff;
}

.first-photo image{
    width: 80vw;
    height: 50vh
}
h1{
    text-align: center;
}
.home1>h1{
   margin-top: 40px;
   text-align: center;
   text-transform: uppercase;
   background: linear-gradient(to right, #89986D, #9CAB84, #C5D89D, #41644A,#FF5555,#A3D78A,#B8DB80);
   background-size: 200%;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: third 2.5s linear infinite;
}
.color-1{
    background-color: #f5f7fa;
}
.color-1 p{
    color: #1a1a1a;
}
@keyframes third{
    to{
        background-position: 200%;
    }
}
.para{
    margin: 20px;
    text-transform: capitalize;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 50px;
}
.my-Gallary{
    display: flex;
    justify-content: center;
}
.row-1{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.row-2{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.row-2>h1{
    text-align: center;
}
.big-box{
    background-color: #f5f7fa;
    text-transform: capitalize;
    border-radius: 10px;
    margin: 30px;
    width: 320px;
    padding: 20px;
}
.big-box img{
    width:320px ;
    height: 240px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.big-box:hover{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

.small-box{
   transition: 0.6;
    padding: 14px;
}
.small-box, p, h1{
    color: #2f2f2f;  
}
.small-box img{
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    width: 250px;
    height: 220px;
}
.your-gallery{
    background-color: #f0f0f0;
    border: 2px #727272 solid;
    border-radius: 6px;
    margin: 25px 20px;
}
.your-gallery>h1{
    color: #3b3b3b;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 20px;
}
.your-gallery p{
   color: #333;
}
.your-gallery h2{
    text-transform: capitalize;
}
.city{
    scrollbar-width: none;
    scroll-behavior: smooth;
    height: 200px;
    overflow: auto;
    display: grid;
    row-gap: 20px;
}
.row-3{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}
.row-3 img{
    width: 250px;
    height: 184px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.cities-2{
     scrollbar-width: none;
    scroll-behavior: smooth;
    height: 200px;
    overflow: auto;
    display: grid;
    row-gap: 20px;
}
.row-4{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}
.row-4 img{
    width: 250px;
    height: 184px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.color-2 h2{
    color: #2f6b4f;
    margin: 0 15px;
    text-transform: capitalize;
}  
.color-2 h1{
    margin: 20px 0;
    color: #2f6b4f;
    text-transform: capitalize;
}
.color-2 p{
    color: #2f6b4f;
     line-height: 1.7;
    text-align: justify;
    margin: 11px;
}
.l-body{
    margin: 19px;
    padding: 0;
    display: flex;
    position: relative;
    justify-content: center;
    border: 2px #727272 solid;
    text-align: center;
    height: 79vh;
}
.login-box{
    box-sizing: border-box;
    margin-top: 97px;
    position: absolute;
    border-radius: 6px;
    width: 290px;
    height: 320px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.login-box input{
   width: 80%;
   padding: 13px 10px;
   margin: 10px 0;
   border: none;
   border-radius: 8px;
   background-color: #f0f0f0;
   color:  #2f2f2f;
   text-align: center;
}
.login-box h1{
    margin-top: 50px;
    margin-bottom: 10px;
}
.login-box button{
    margin-top: 14px;
    border-radius: 8px;
    padding: 10px 30px;
    border: none;
    font-weight: bold;
    background-color: #f0f0f0;
    color: #2f2f2f;
    cursor: pointer;
    transition: 0.3s ease;
}
.login-box button:hover{
    background-color: #2f2f2f;
    color: #fff;
}
.login-box:hover{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
   
}
.l-body p{
    margin-top: 40px;
    font-weight: bold;
    font-size: large;
    text-transform: capitalize;
}



footer{
    width: 100%;
    height: 50px;
    background-color: #333;
    text-align: center;
    color: #fff;
}
footer span{
    display: inline-block;
    margin-top: 18px; 
}